<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <connectionStrings>
    <add name="myconnstr_main" connectionString="Data Source=.\;Initial Catalog=HRIS_Student_New_190422;Integrated Security=True" />

    

  </connectionStrings>  
  <system.web>
    <trust level="Full" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <!--<add assembly="Microsoft.Office.Interop.Word, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />
        <add assembly="Microsoft.Office.Interop.Excel, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />-->
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <machineKey validationKey="DA45943AE7681FB7616997BC4D2AAB76B4D2EAC51E25FF8FB0FECA97B2F77375F93BBD7A334D9DA3E407AA01517C747BEDE3E3DA01BEF1D7330A2958D496D99C" decryptionKey="FEA7A502A7B3BB2B9740B0987E02AED8E08DA1D89B662A9719588B349C3108B0" validation="SHA1" decryption="AES" />
    <pages enableViewStateMac="true">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpRuntime targetFramework="4.0" executionTimeout="3600" maxRequestLength="1048576" />
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" name=".ASPNETAUTH" protection="None" path="/" timeout="60">
        <credentials passwordFormat="Clear">
          <user name="" password="" />
        </credentials>
      </forms>
    </authentication>
    <membership defaultProvider="Demo_MemberShipProvider">
      <providers>
        <add name="ResetPasswordConStr" type="System.Web.Security.SqlMembershipProvider" connectionStringName="myconnstr_main" enablePasswordRetrieval="false" enablePasswordReset="true" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="false" applicationName="/" minRequiredPasswordLength="5" />
        <add name="Demo_MemberShipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="myconnstr_main" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="30" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="Demo_RoleProvider">
      <providers>
        <add connectionStringName="myconnstr_main" applicationName="/" name="Demo_RoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </roleManager>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="" deliveryMethod="Network">
        <network host="smtp.gmail.com" password="" port="25" userName="" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension="eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension="otf" mimeType="application/x-font-opentype" />
      <mimeMap fileExtension="svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension="ttf" mimeType="application/x-font-truetype" />
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension="woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
</configuration>